.main_display
{
  margin: auto;
  width: 500px;
}

body
{

  font-family: 'Franklin Gothic Medium';
  font-size: medium;
  margin: 10px;
  background-color: blueviolet;

}

button
{
  background-color: #ccc;
}

button:hover
{
  background-color: hotpink;
  cursor: pointer;
}
